<link href="{% static '/css/bootstrap.error.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static '/js/bootstrap.error.js' %}"></script>
<script src="{% static '/js/jquery.error.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Error <small><font face="Tahoma" color="red">unauthorized access</font></small></h1>
          <br />
          <p>The page you requested needs an active user to be viewed. Please login or register to continue</p>
          <a href="/homepage" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Go back to Homepage</a>
        </div>
        <br />
  </div>
</div>
