{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/bootstrap.min.css' %}"rel="stylesheet" id="bootstrap-css">
	<link href="{% static 'css/stylecss.css' %}" rel="stylesheet" >
	<link rel="icon" type="image/png" href="{% static 'media/solar-titlebar.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
<div align="center">
	<img src="{% static 'media/solarpic.png' %}" class="login-logo">
</div>

<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="/" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" class="active" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="#" method="POST" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required>
                                    </div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
                                                <input type="hidden" name="register" value="true" required>
                                                {% csrf_token %}
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                            <div class="row">
                                <div class="col">
                                    {% if reg_error %}
                                        <div class="col"><div class="alert alert-danger"><b>Error!</b> {{ reg_error }}</div></div>
                                    {% endif %}
                                    
                                    {% if reg_success %}
                                        <div class="col"><div class="alert alert-success"><b>Success!</b> {{ reg_success }}</div></div>
                                    {% endif %}
                                </div>
                            </div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>